<mat-sidenav-container class="sidenav-container">

  <!-- SIDENAV -->

  <mat-sidenav #drawer class="sidenav" fixedInViewport
      [attr.role]="(isHandset$ | async) ? 'dialog' : 'navigation'"
      [mode]="(isHandset$ | async) ? 'over' : 'side'"
      [opened]="false">
    <mat-toolbar>Menu</mat-toolbar>
    <mat-nav-list>
     
      <a mat-list-item routerLink="/" (click)="drawer.close()">Home</a>
      <a mat-list-item routerLink="/login" (click)="drawer.close()">Login</a>
      <a mat-list-item routerLink="/kanban" (click)="drawer.close()">Kanban Demo</a>
      <a mat-list-item routerLink="/customers" (click)="drawer.close()">SSR Demo</a>
    </mat-nav-list>
  </mat-sidenav>
  <mat-sidenav-content>

  <!-- TOP TOOLBAR-->

    <mat-toolbar>
      <button 
        type="button"
        aria-label="Toggle sidenav"
        mat-icon-button
        (click)="drawer.toggle()"
        *ngIf="isHandset$ | async">


        <mat-icon aria-label="Side nav toggle icon">menu</mat-icon>
      </button>
      <span class="logo" routerLink="/">🔥 Vagmine Board</span>

      <span class="fill-space"></span>
      <div *ngIf="!(isHandset$ | async)">
        <a mat-button routerLink="/kanban">🍱&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Kanban Demo</a>
        <a mat-button routerLink="/customers">⚡&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;SSR Demo</a>
        <a mat-button routerLink="/login">🔑&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Login</a>
      </div>
      <button mat-icon-button [matMenuTriggerFor]="menu" aria-label="Example icon-button with a menu">
        <mat-icon>more_vert</mat-icon>
      </button>
      
      <mat-menu #menu="matMenu">
        <a mat-menu-item href="https://join.slack.com/share/zt-pyaok26p-JU8fczA3Ik0FwXanoo9T_w?x=x-t558501441507-2033760645825">
          <i>💬&nbsp;&nbsp;&nbsp;</i>
          <span>Chat on Slack</span>
        </a>
        <a mat-menu-item href="https://git.renaissance.com">
          <i>💾&nbsp;&nbsp;&nbsp;</i>
          <span>Code on GitHub</span>
        </a>
        <a mat-menu-item href="https://www.renaissance.com/Contact">
          <i>🔥&nbsp;&nbsp;&nbsp;</i>
          <span>Contact</span>
        </a>
        <a mat-menu-item href="https://youtube.com">
          <i>📺&nbsp;&nbsp;&nbsp;</i>
          <span>YouTube</span>
        </a>
      </mat-menu>
    </mat-toolbar>

    <!-- TRANSCLUSION -->
    <ng-content></ng-content>

  </mat-sidenav-content>
</mat-sidenav-container>
